<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <h4 class="y-5">Tabela de visitas</h4>
  <table class="table">
    <thead >
      <tr>
        <th scope="col" *ngFor="let coluna of colunas">{{coluna}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let visit of visits">
        <th scope="row">{{visit.id}}</th>
        <td>{{visit.representative}}</td>
        <td>{{visit.name}}</td>
        <td>{{visit.address}}</td>
        <td>{{visit.date}}</td>
        <td>{{visit.cost}}</td>
        <td>
          <button type="button" class="btn btn-success btn-sm" (click)="editVisit(visit)">Editar</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteVisit(visit)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!visits">
    Nenhuma visita cadastrada na tabela
  </div>
</div>
